.to-do-main-window
{
  height: 540px;
  width: 480px;
  background-color:#424f50;
  border-color: #ffffff;
}


.text-title
{
  text-align: left;
  font-size:40px;
  margin-top: 10px;
  margin-left: 10px;
}

.text-boxes
{
  margin-left:10px;
  margin-top:10px;
}

.button-text
{
  margin-right:10px;
  cursor:pointer;
}
